*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  padding: 5vw;
  gap: 50px;
}
.wrapper .timer {
  font-size: calc(35px + 2.734375vw);
  line-height: 1.5em;
  letter-spacing: 0.1em;
  color: #334155;
}
.wrapper p {
  font-size: calc(16px + 1.09375vw);
  line-height: 1.5em;
  color: #334155;
}
.wrapper .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 100%;
  padding: 50px;
  border-top: 2px solid #cbd5e1;
}
.wrapper .buttons-container button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  width: calc(100px + 11.71875vw);
  color: white;
  font-size: 16px;
  text-transform: capitalize;
  padding: 15px 7px;
  border-radius: 3px;
  border: none;
  margin: 0 auto;
}
.wrapper .buttons-container button:hover {
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  will-change: transform;
  cursor: pointer;
}